# By Default, Ignore any .*
.*
# Except .gitgnore
!.gitignore


# For now, disallow vscode 
# !.vscode
.vscode/

# Rust ignore
target/
Cargo.lock

# nodejs 
!.mocharc.yaml

# nodejs - Ignore node build files
node_modules/
npm-debug.log
report.*.json


# Ignore dist/ folders
dist/

# Safety net
*.parquet
*.map
*.jpeg
*.jpg
*.png
*.zip
*.gz
*.tar
*.tgz
*.mov
*.mp4