[package]
name = "modql"
version = "0.3.0-alpha.2"
authors = ["Jeremy Chone <jeremy.chone@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Rust implementation for Model Query Language support"
categories = ["data-structures"]
keywords = [
	"query-language",
	"sea-query",
	"model",
	"data-model",
	"graphql"
]
homepage = "https://github.com/jeremychone/rust-modql"
repository = "https://github.com/jeremychone/rust-modql"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[workspace]
members = [".", "modql-macros"]

[features]
default = ["modql-macros"]
with-sea-query = ["sea-query", "modql-macros/with-sea-query"]


[dependencies]
modql-macros = { version="0.3.0-alpha.2", path = "modql-macros", optional=true}
serde = { version = "1", features = ["derive"] }
serde_json = "1"
time = "0.3.20"
uuid = "1.3.1"
sea-query = { version = "0.30", optional = true }

[dev-dependencies]
anyhow = "1"

